tr{
  background-color: #ffffff;
  height: 122px;
  border-bottom: 1px solid #e7e8ec;
 
}
tr:nth-child(odd) {
  background-color: #ffffff;
}
tr:nth-child(even) {
  background-color: #f2f4f8;
}
td{
  font-weight: bold;
}
.circle{
  display: block;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #a5a7a9; 
  margin-left: 10px; 
}
.alight-right{
  padding-right: 40px;
  text-align: right;
}
.light{
  padding-left: 0px;
  font-weight: normal;
  color: #a5a7a9;
}